{% extends 'layout.html' %}
{% block main %}
<ol class="breadcrumb">
    <li><a href="/">管理首页</a></li>
    <li><span>内容修改-{{ content.title }}</span></li>
</ol>
<form  style="padding-left: 50px;margin-top:20px; " method="post" action="/admin/content/add">
    <div style="display: inline-block">
        <lable for="category">分  类：</lable>
        <select  name="category" id="category" style="width: 200px;">
            {%for cate in categories %}

            <option value="{{ cate._id.toString() }}" {% if content.category._id==cate._id %}
                    selected="selected"
                    {% endif %}>{{ cate.categoryname }}</option>
            {% endfor %}
        </select>
    </div>
    <div>
        <lable for="title">内容标题：</lable>
        <input type="text" name="title" id="title" style="width: 200px;" value="{{ content.title }}"/>
    </div>
    <div>
        <lable for="desc">简  介：</lable>
        <input type="text" name="desc" id="disc" style="width: 200px;" value="{{content.disc}}"/>
    </div>
    <div>
        <lable for="content">内  容：</lable>
        <input type="text" name="content" id="content" style="width: 200px;" value="{{content.content}}"/>
    </div>
    <button type="submit">提交</button>
</form>

{% endblock %}